<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <meta charset="UTF-8">
    <title>Товары</title>

</head>
<body>

<header th:replace="~{header :: header}"></header>
<h1>Товары</h1>
<form th:action="@{/products/search}" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="name" class="form-control" placeholder="Поиск по названию">
        <button type="submit" class="btn btn-primary">Найти</button>
        <a th:href="@{/products}" class="btn btn-primary">Сбросить</a>
    </div>
</form>


<a th:href="@{/products/new}" class="add-btn">Добавить товар</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название мебели</th>
        <th>Категория товара</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.category != null ? product.category.name : 'Нет данных'}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${#numbers.formatDecimal(product.price, 1, 2) + '₽'}"></td>
        <td class="actions">
            <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
            <a th:href="@{/products/delete/{id}(id=${product.id})}"
               onclick="return confirm('Вы уверены, что хотите удалить этот продукт?')">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>